 #  Data Collection and Preparation
 ---
* Data is collected from APIs by using Python.  

* Data is cleaned and prepared for the analysis by using Python and Pandas libraries.

In [9]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
#from MCForecastTools import MCSimulation
import hvplot.pandas
%matplotlib inline

In [10]:
# LOAD ENV FILE
load_dotenv()

True

In [25]:
# Setup Alpaca API environment
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2"
)

## 50 stocks from First Trust NASDAQ® Clean Edge® Green Energy Index
Read the daily prices and clean the data.

In [38]:
# Set timeframe to "1Day"
timeframe = "1Day"

# Set start and end datetimes of 3 year, between now and 365 days ago.
start_date = pd.Timestamp("2020-10-03", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2023-10-06", tz="America/New_York").isoformat()
#my subscription does not allow pulling data from the last 15min with end_date = pd.Timestamp.now().date() 

# Set the stock tickers
tickers_1 = ["TSLA", "RIVN", "ON", "LCID", "OLED", "ALGM", "POWI", "WOLF", "ENS", "AEIS", "BE", "VICR", "HASI", "NVTS", "GGR", "LICY"]

# Get 1 year's worth of historical data for all stocks
# HINT: Set "limit" to at least 10000 so all ticker rows are captured from get_bars()
df_Manufacturing_other = api.get_bars(
    tickers_1,
    timeframe,
    start=start_date,
    end=end_date, limit = 10000
).df

# Display sample data
df_Manufacturing_other.sample(10)

,close,high,low,trade_count,open,volume,vwap,symbol
timestamp,,,,,,,,
2022-11-18 05:00:00+00:00,72.46,73.150,71.4250,58438,72.835,5362282,72.313733,ON
2022-09-02 04:00:00+00:00,22.00,22.760,21.8000,10467,22.160,591784,22.132005,ALGM
2022-04-19 04:00:00+00:00,8.94,9.050,7.9000,4362,8.000,665693,8.723714,GGR
2022-07-22 04:00:00+00:00,32.48,35.410,32.0000,144138,35.120,17486922,33.189432,RIVN
2022-10-25 04:00:00+00:00,4.50,4.555,4.2678,8283,4.360,1288702,4.435906,NVTS
2023-06-29 04:00:00+00:00,141.50,142.245,137.1400,10551,138.440,374792,141.019592,OLED
2022-03-04 05:00:00+00:00,8.30,8.880,8.2110,9947,8.700,1289099,8.374585,NVTS
2022-03-16 04:00:00+00:00,160.12,160.340,153.3500,13085,154.970,595356,158.621674,OLED
2022-02-28 05:00:00+00:00,9.92,9.940,9.9200,296,9.930,48604,9.924361,GGR
2023-03-31 04:00:00+00:00,8.04,8.200,7.5650,84915,7.680,19564890,7.945765,LCID

In [34]:
# Set timeframe to "1Day"
timeframe = "1Day"

# Set start and end datetimes of 3 year, between now and 365 days ago.
start_date = pd.Timestamp("2020-10-03", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2023-10-06", tz="America/New_York").isoformat()

# Set the stock tickers
tickers_2 = ["FSLR", "ENPH", "SEDG", "BEP", "ARRY", "ORA", "PLUG", "SHLS", "ITRI", "RUN" "NXT", "NEP", "AY", "CWEN", "RNW", "AMRC", "NOVA", "SPWR", "CLNE", "AMPS", "STEM", "FCEL", "MAXN" ]

# Get 1 year's worth of historical data for all stocks
# HINT: Set "limit" to at least 10000 so all ticker rows are captured from get_bars()
df_Renewable = api.get_bars(
    tickers_2,
    timeframe,
    start=start_date,
    end=end_date, limit = 10000
).df

# Display sample data
df_Renewable.sample(10)

,close,high,low,trade_count,open,volume,vwap,symbol
timestamp,,,,,,,,
2022-08-12 04:00:00+00:00,70.02,70.3761,68.480,4826,69.89,247997,69.693825,AMRC
2022-02-10 05:00:00+00:00,32.51,33.3900,32.250,6752,32.69,463271,32.776693,AY
2023-05-30 04:00:00+00:00,30.74,30.9500,30.501,1872,30.67,152292,30.746820,BEP
2023-04-21 04:00:00+00:00,43.56,44.2153,43.340,5170,43.96,302226,43.713570,AMRC
2023-06-26 04:00:00+00:00,4.50,4.6200,4.490,13870,4.54,1776417,4.550878,CLNE
2022-04-19 04:00:00+00:00,5.28,5.3700,5.050,44281,5.19,14273663,5.257180,FCEL
2022-09-20 04:00:00+00:00,133.31,137.9600,133.110,37188,136.48,2045192,134.519000,FSLR
2023-07-17 04:00:00+00:00,189.67,191.3050,175.500,86270,178.11,4687508,186.527307,ENPH
2022-09-01 04:00:00+00:00,21.46,21.5600,20.240,35296,20.69,3876722,21.022954,ARRY
2021-03-24 04:00:00+00:00,40.60,41.2000,40.400,3255,40.97,304715,40.690992,BEP

In [36]:
# Set timeframe to "1Day"
timeframe = "1Day"

# Set start and end datetimes of 3 year, between now and 365 days ago.
start_date = pd.Timestamp("2020-10-03", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2023-10-06", tz="America/New_York").isoformat()

# Set the stock tickers
tickers_3 = ["ALB", "AYI", "LTHM", "MP", "SQM", "FLNC", "CHPT", "MNTK", "BLDP", "LNZA", "ALLG"]

# Get 1 year's worth of historical data for all stocks
# HINT: Set "limit" to at least 10000 so all ticker rows are captured from get_bars()
df_Resources = api.get_bars(
    tickers_3,
    timeframe,
    start=start_date,
    end=end_date, limit = 10000
).df

# Display sample data
df_Resources.sample(10)

,close,high,low,trade_count,open,volume,vwap,symbol
timestamp,,,,,,,,
2022-05-02 04:00:00+00:00,38.68,38.750,36.8201,26318,37.50,2220536,37.853074,MP
2022-11-23 05:00:00+00:00,29.50,29.710,28.7200,16197,28.81,1559514,29.368837,LTHM
2022-02-25 05:00:00+00:00,46.85,46.980,41.2500,46150,43.00,5176099,45.009248,MP
2022-03-02 05:00:00+00:00,10.96,11.160,10.6800,27976,11.12,4581590,10.912312,BLDP
2021-08-20 04:00:00+00:00,16.27,16.270,16.2700,0,16.27,0,0.000000,LNZA
2022-10-31 04:00:00+00:00,93.68,95.420,91.1400,25355,95.00,3315034,93.395189,SQM
2021-07-16 04:00:00+00:00,15.15,15.440,15.0800,19313,15.30,2662672,15.255305,BLDP
2023-02-14 05:00:00+00:00,22.22,22.360,20.0500,25184,21.57,1885599,21.191410,FLNC
2023-03-20 04:00:00+00:00,9.26,9.500,9.1100,41676,9.27,5540610,9.288823,CHPT
2023-06-22 04:00:00+00:00,7.12,7.435,7.0700,5152,7.18,408920,7.217785,MNTK

In [43]:
# Using the df_ticker DataFrame, create a DataFrame consisting of timestamp, close and symbol columns

df_Manufacturing_other = df_Manufacturing_other [ ["close", "symbol"]]

df_Renewable = df_Renewable [  ["close", "symbol"]]

df_Resources = df_Resources [ ["close", "symbol"]]
# View the DataFrame
df_Manufacturing_other.sample(60)

                             close symbol
timestamp
2021-03-24 04:00:00+00:00   52.910   HASI
2022-12-19 05:00:00+00:00  149.870   TSLA
2022-10-27 04:00:00+00:00   76.510   AEIS
2021-05-03 04:00:00+00:00    9.770    GGR
2022-02-22 05:00:00+00:00    9.100   NVTS
2022-03-23 04:00:00+00:00   45.960   HASI
2023-09-15 04:00:00+00:00   15.120     BE
2023-06-12 04:00:00+00:00    3.180    GGR
2021-07-16 04:00:00+00:00   20.240     BE
2023-03-24 04:00:00+00:00    4.870   LICY
2021-07-26 04:00:00+00:00   55.950   HASI
2023-03-31 04:00:00+00:00   47.990   ALGM
2022-05-09 04:00:00+00:00   13.590     BE
2023-03-06 05:00:00+00:00   83.010   POWI
2021-02-26 05:00:00+00:00   56.230   HASI
2023-04-19 04:00:00+00:00    5.010   LICY
2022-06-27 04:00:00+00:00  734.760   TSLA
2022-05-25 04:00:00+00:00    4.330    GGR
2022-09-27 04:00:00+00:00  282.940   TSLA
2023-07-21 04:00:00+00:00    3.270    GGR
2022-01-25 05:00:00+00:00   26.060   ALGM
2022-10-21 04:00:00+00:00   65.390   POWI
2020-10-05 04:00:00+00:00   71.370    ENS
2021-03-29 04:00:00+00:00   24.680   ALGM
2023-09-18 04:00:00+00:00   33.200   ALGM
2022-01-24 05:00:00+00:00   37.750   LCID
2023-04-25 04:00:00+00:00  160.670   TSLA
2022-02-18 05:00:00+00:00    9.920    GGR
2022-06-21 04:00:00+00:00   36.340   HASI
2021-12-10 05:00:00+00:00   86.780   AEIS
2021-08-06 04:00:00+00:00   21.680     BE
2023-06-20 04:00:00+00:00   16.870     BE
2023-05-02 04:00:00+00:00   82.920    ENS
2023-08-18 04:00:00+00:00  111.380   AEIS
2021-12-20 05:00:00+00:00   37.990   LCID
2022-09-30 04:00:00+00:00   94.350   OLED
2023-06-27 04:00:00+00:00   24.420   HASI
2023-06-05 04:00:00+00:00    4.950   LICY
2022-07-06 04:00:00+00:00   19.630   ALGM
2023-08-11 04:00:00+00:00   94.710    ENS
2020-11-09 05:00:00+00:00   78.630   VICR
2023-07-21 04:00:00+00:00  260.020   TSLA
2023-09-14 04:00:00+00:00   96.470     ON
2022-10-19 04:00:00+00:00    3.940   NVTS
2023-03-27 04:00:00+00:00   46.120   ALGM
2022-09-06 04:00:00+00:00   60.390    ENS
2022-12-02 05:00:00+00:00   31.790   HASI
2023-08-23 04:00:00+00:00   21.070   HASI
2022-06-01 04:00:00+00:00   25.350   ALGM
2023-05-30 04:00:00+00:00   23.590   HASI
2023-05-01 04:00:00+00:00  161.830   TSLA
2023-03-22 04:00:00+00:00    6.820   NVTS
2022-06-01 04:00:00+00:00  740.370   TSLA
2022-08-16 04:00:00+00:00   81.385   POWI
2023-02-16 05:00:00+00:00   45.030   ALGM
2022-03-31 04:00:00+00:00   24.150     BE
2022-10-04 04:00:00+00:00  249.440   TSLA
2022-02-17 05:00:00+00:00    9.460   NVTS
2022-06-09 04:00:00+00:00   23.730   ALGM
2022-01-13 05:00:00+00:00   80.310   RIVN

## First Trust NASDAQ® Clean Edge® Green Energy Index and S&P 500 ETF
Read the daily prices and clean the data.

In [1]:
# Initial imports
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
#from MCForecastTools import MCSimulation

%matplotlib inline

In [3]:
# LOAD ENV FILE
load_dotenv(r"C:\Users\juddm\OneDrive\Desktop\School\example.env")

True

In [4]:
# Setup Alpaca API environment
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2"
)

In [13]:
# Set timeframe to "1Day"
timeframe = "1Day"

# Set start and end datetimes of 1 year, between now and 365 days ago.
start_date = pd.Timestamp("2019-10-03", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2023-10-06", tz="America/New_York").isoformat()

# Set the stock tickers
tickers = ["VOO", "QCLN"]

# Get 3 year's worth of historical data for all stocks
index_df = api.get_bars(
    tickers,
    timeframe,
    start=start_date,
    end=end_date, limit = 10000
).df

# Display sample data
index_df.head(50)

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2019-10-03 04:00:00+00:00,20.6200,20.7537,20.3639,20.7337,13486,94,20.640227,QCLN
2019-10-04 04:00:00+00:00,20.8947,21.0261,20.8108,21.0200,6818,48,20.912482,QCLN
2019-10-07 04:00:00+00:00,21.1000,21.1000,20.9823,21.0009,15179,73,21.009043,QCLN
2019-10-08 04:00:00+00:00,20.7690,20.8900,20.7514,20.7539,12957,70,20.794947,QCLN
2019-10-09 04:00:00+00:00,20.8700,20.9346,20.8000,20.8548,37273,58,20.854531,QCLN
2019-10-10 04:00:00+00:00,21.1200,21.2000,20.9500,21.0300,11205,72,21.071683,QCLN
2019-10-11 04:00:00+00:00,21.2600,21.4031,21.2600,21.2774,8070,43,21.347915,QCLN
2019-10-14 04:00:00+00:00,21.2100,21.2599,21.1800,21.2379,6024,59,21.222330,QCLN
2019-10-15 04:00:00+00:00,21.3400,21.4184,21.2500,21.3929,15261,69,21.369239,QCLN
2019-10-16 04:00:00+00:00,21.3500,21.3600,21.2000,21.2712,11071,99,21.281575,QCLN
2019-10-17 04:00:00+00:00,21.3900,21.4867,21.3432,21.4300,7364,69,21.407029,QCLN
2019-10-18 04:00:00+00:00,21.3900,21.5100,21.3105,21.4300,6932,138,21.414496,QCLN
2019-10-21 04:00:00+00:00,21.5600,21.6500,21.5600,21.6000,13887,67,21.587544,QCLN
2019-10-22 04:00:00+00:00,21.6000,21.6000,21.3057,21.4400,5338,70,21.475006,QCLN
2019-10-23 04:00:00+00:00,21.3100,21.4323,21.3100,21.3351,4071,47,21.382466,QCLN
2019-10-24 04:00:00+00:00,21.8500,21.8800,21.7136,21.8600,19148,130,21.810018,QCLN
2019-10-25 04:00:00+00:00,21.7600,22.0000,21.5800,22.0000,19261,111,21.860586,QCLN
2019-10-28 04:00:00+00:00,22.1200,22.3102,22.1200,22.2300,28425,92,22.237271,QCLN
2019-10-29 04:00:00+00:00,22.1800,22.2099,22.0670,22.1000,20703,90,22.156643,QCLN
2019-10-30 04:00:00+00:00,21.9600,21.9600,21.6400,21.7500,13641,111,21.726535,QCLN
2019-10-31 04:00:00+00:00,21.8000,21.9290,21.7184,21.8755,12006,89,21.831348,QCLN
2019-11-01 04:00:00+00:00,22.0000,22.1174,21.9684,22.0900,13094,83,22.056565,QCLN
2019-11-04 05:00:00+00:00,22.3600,22.4100,22.2032,22.4000,15917,114,22.342698,QCLN
2019-11-05 05:00:00+00:00,22.4900,22.7100,22.4501,22.6600,16394,105,22.598674,QCLN
2019-11-06 05:00:00+00:00,22.6300,22.6300,22.3900,22.5250,18102,67,22.506229,QCLN
2019-11-07 05:00:00+00:00,22.6300,22.7470,22.4900,22.4900,11756,83,22.614262,QCLN
2019-11-08 05:00:00+00:00,22.5100,22.5300,22.4301,22.5300,7755,52,22.474517,QCLN
2019-11-11 05:00:00+00:00,22.5300,22.6194,22.5300,22.5700,19088,95,22.588524,QCLN
2019-11-12 05:00:00+00:00,22.6000,22.8700,22.5700,22.6500,42484,119,22.609750,QCLN
2019-11-13 05:00:00+00:00,22.5500,22.5500,22.3702,22.3887,25552,105,22.483209,QCLN
2019-11-14 05:00:00+00:00,22.4400,22.5010,22.3275,22.4852,13457,79,22.445368,QCLN
2019-11-15 05:00:00+00:00,22.6700,22.7800,22.6460,22.7200,22956,99,22.725489,QCLN
2019-11-18 05:00:00+00:00,22.8100,22.8100,22.6010,22.6200,23115,132,22.654626,QCLN
2019-11-19 05:00:00+00:00,22.7900,22.7900,22.5600,22.7200,27213,135,22.746390,QCLN
2019-11-20 05:00:00+00:00,22.7200,22.7200,22.3790,22.4501,11337,68,22.598922,QCLN
2019-11-21 05:00:00+00:00,22.5700,22.5700,22.3784,22.3965,9994,77,22.425880,QCLN
2019-11-22 05:00:00+00:00,22.3700,22.4000,22.1000,22.2980,11116,94,22.253696,QCLN
2019-11-25 05:00:00+00:00,22.5000,22.7160,22.4500,22.7160,10695,84,22.614659,QCLN
2019-11-26 05:00:00+00:00,22.7400,22.7561,22.7000,22.7000,19341,89,22.723234,QCLN
2019-11-27 05:00:00+00:00,23.0600,23.1800,22.9000,23.1800,18827,124,23.068907,QCLN
2019-11-29 05:00:00+00:00,23.1300,23.1300,22.9150,22.9400,11377,57,23.001891,QCLN
2019-12-02 05:00:00+00:00,23.0200,23.0200,22.7508,22.8400,75383,130,22.841768,QCLN
2019-12-03 05:00:00+00:00,22.6200,22.8050,22.5253,22.8050,14232,126,22.674592,QCLN
2019-12-04 05:00:00+00:00,22.9500,23.0715,22.9224,22.9700,14582,98,23.000658,QCLN
2019-12-05 05:00:00+00:00,23.0200,23.0399,22.8179,22.8650,8534,75,22.902125,QCLN
2019-12-06 05:00:00+00:00,23.1100,23.1900,23.1100,23.1101,14131,100,23.143927,QCLN
2019-12-09 05:00:00+00:00,23.1200,23.1317,22.9997,23.0100,30726,115,23.064283,QCLN
2019-12-10 05:00:00+00:00,23.0200,23.1600,23.0000,23.0500,18595,162,23.103591,QCLN
2019-12-11 05:00:00+00:00,23.2200,23.3500,23.1867,23.3300,13331,80,23.292558,QCLN
2019-12-12 05:00:00+00:00,23.4100,23.6400,23.3441,23.6400,16718,95,23.523350,QCLN

In [15]:
# Choose relevant columns
index_df = index_df [
    ["close", "symbol"]
]
index_df

                              close symbol
timestamp
2019-10-03 04:00:00+00:00   20.7337   QCLN
2019-10-04 04:00:00+00:00   21.0200   QCLN
2019-10-07 04:00:00+00:00   21.0009   QCLN
2019-10-08 04:00:00+00:00   20.7539   QCLN
2019-10-09 04:00:00+00:00   20.8548   QCLN
...                             ...    ...
2023-10-02 04:00:00+00:00  392.6700    VOO
2023-10-03 04:00:00+00:00  387.3900    VOO
2023-10-04 04:00:00+00:00  390.2400    VOO
2023-10-05 04:00:00+00:00  389.9100    VOO
2023-10-06 04:00:00+00:00  394.5600    VOO

[2020 rows x 2 columns]

In [19]:
# Drop time from timestamp column
# Define a mapping of old column names to new column names
column_mapping = {
    'timestamp' : 'date',
}

# Rename the columns in the DataFrame
index_df.rename(columns=column_mapping, inplace=True)

# Your DataFrame now has the desired column names
print(index_df)

               close symbol
2019-10-03   20.7337   QCLN
2019-10-04   21.0200   QCLN
2019-10-07   21.0009   QCLN
2019-10-08   20.7539   QCLN
2019-10-09   20.8548   QCLN
...              ...    ...
2023-10-02  392.6700    VOO
2023-10-03  387.3900    VOO
2023-10-04  390.2400    VOO
2023-10-05  389.9100    VOO
2023-10-06  394.5600    VOO

[2020 rows x 2 columns]

In [23]:
# Rename `Close` Column to be specific to this portfolio.
column_mapping2 = {
    'close' : 'index_close',
}

# Rename the columns in the DataFrame
index_df.rename(columns=column_mapping2, inplace=True)

index_df.head()

            index_close symbol
2019-10-03      20.7337   QCLN
2019-10-04      21.0200   QCLN
2019-10-07      21.0009   QCLN
2019-10-08      20.7539   QCLN
2019-10-09      20.8548   QCLN

## Combine the three portfolios?

In [ ]:
# Join 3 datasets into a single DataFrame with columns for each portfolio's returns.

# Data Cleaning

In this section, data is read from Alpaca API into DataFrames and data cleaning steps are performed. 

After cleaning, all DataFrames are combined into a single DataFrame.

Files:

* `whale_returns.csv`: Contains returns of some famous "whale" investors' portfolios.

* `algo_returns.csv`: Contains returns from the in-house trading algorithms from Harold's company.

* `sp_tsx_history.csv`: Contains historical closing prices of the S&P 500 Index.